<%- include('header') -%>
<div class="container">
    <div class="jumbotron">
      <h1>stockist</h1>
      <p>
        
      </p>
      <p>stockist is an app for adding stock and creating orders.

      </p><p>Choose an option from the menu.</p>
    </div>
</div>
  </body>
