<%- include('header') -%>
<div class="container">
    <div class="jumbotron">
      <h1>Inventory</h1>
    </div>
</div>
  <div class="container">

<ul>
    <% suppliers.forEach(function(item) { %>
      <li><a href='edit/<%= item["_id"] %>'><%= item['supplier_name']%>  - <%= item["supplier_contact"] %></a>  </li>
    <% }); %>
</ul>
</div>

</body>
