<%- include('header') -%>
<div class="container">
    <div class="jumbotron">
      <h1>Inventory</h1>
    </div>
</div>
  <div class="container">
    <div class="list-group">
<% suppliers.forEach(function(item) { %>

  <a href='edit/<%= item["_id"] %>' class="list-group-item">
    <h4 class="list-group-item-heading"><%= item['supplier_name']%></h4>
    <p class="list-group-item-text"><%= item["supplier_contact"] %></p>
  </a>

      <% }); %>

    </div>

</div>

</body>
