<%- include('header') -%>
<div class="container">
    <div class="jumbotron">
      <h1>Order</h1>
    </div>
</div>
<div class="container">


  <a href="new_order" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">New order</a>

<hr />
  <h1>Existing orders</h1>


  <ul class="list-group">
    <li class="list-group-item disabled">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
  </ul>

</div>
